<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.yttx.yttxps.mapper.CustomInfoMapper" >
	<resultMap id="BaseResultMap" type="com.yttx.yttxps.model.CustomInfo" >
		  <id column="FS_ID"              property="id"            jdbcType="VARCHAR" />
		  <result column="FS_NAME"        property="name"           jdbcType="VARCHAR" />
		  <result column="FS_TANAME"      property="taname"         jdbcType="VARCHAR" />
		  <result column="FS_LICENCENO"   property="licenceno"      jdbcType="VARCHAR" />
		  <result column="FS_TAXLICENCE"  property="taxlicence"     jdbcType="VARCHAR" />
		  <result column="FS_CONTACT"     property="contact"        jdbcType="VARCHAR" />
		  <result column="FS_CERTID"      property="certid"         jdbcType="VARCHAR" />
		  <result column="FS_EMAIL"       property="email"          jdbcType="VARCHAR" />
		  <result column="FT_REGTIME"     property="regtime"        jdbcType="TIMESTAMP" />
		  <result column="FT_TIMESTAMP"   property="timestamp"      jdbcType="TIMESTAMP" />
		  <result column="FS_DAC"         property="dac"            jdbcType="VARCHAR" />
		  <result column="FI_STAT"        property="stat"           jdbcType="DECIMAL" />
		  <result column="FS_AUDITNO"     property="auditno"        jdbcType="VARCHAR" />
		  <result column="FS_LegalPerson" property="legalPerson"    jdbcType="VARCHAR" />
		  <result column="FS_Fax"         property="fax"            jdbcType="VARCHAR" />
		  <result column="fs_Address"     property="address"        jdbcType="VARCHAR" />
		  <result column="fs_TabLicense"  property="tabLicense"     jdbcType="VARCHAR" />
		  <result column="fs_SalesManID"  property="salesManID"     jdbcType="VARCHAR" />
  	</resultMap>
	
	
	<sql id="Base_Column_List" >
	    FS_ID, 
	    FS_NAME, 
	    FS_TANAME,
	    FS_LICENCENO,
	    FS_TAXLICENCE, 
	    FS_CONTACT, 
	    FS_CERTID, 
	    FS_EMAIL, 
	   	FT_REGTIME,
	    FT_TIMESTAMP, 
	    FS_DAC, 
	    FI_STAT,
	    FS_AUDITNO,
	    FS_LegalPerson,
		FS_Fax,
		fs_Address,
		fs_TabLicense,
		fs_SalesManID
	</sql>
  
  	<!--通过id找到该会员的详细信息  -->
	<select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
		select 
		  	<include refid="Base_Column_List" />
		from 
			TCUSTOMINFO
		where 
			FS_ID = #{id,jdbcType=VARCHAR}
	</select>
  
  	<!--动态的插入一条记录-->
  	<insert id="insertSelective" parameterType="com.yttx.yttxps.model.CustomInfo" >
	    insert into 
	    	TCUSTOMINFO
		    <trim prefix="(" suffix=")" suffixOverrides="," >
		      <if test="id != null" >
		        FS_ID,
		      </if>
		      <if test="name != null" >
		        FS_NAME,
		      </if>
		      <if test="taname != null" >
		        FS_TANAME,
		      </if>
		      <if test="licenceno != null" >
		        FS_LICENCENO,
		      </if>
		      <if test="taxlicence != null" >
		        FS_TAXLICENCE,
		      </if>
		      <if test="contact != null" >
		        FS_CONTACT,
		      </if>
		      <if test="certid != null" >
		        FS_CERTID,
		      </if>
		      <if test="email != null" >
		        FS_EMAIL,
		      </if>
		      <if test="regtime != null" >
		        FT_REGTIME,
		      </if>
		      <if test="timestamp != null" >
		        FT_TIMESTAMP,
		      </if>
		      <if test="dac != null" >
		        FS_DAC,
		      </if>
		      <if test="stat != null" >
		        FI_STAT,
		      </if>
		      <if test="auditno != null" >
		        FS_AUDITNO,
		      </if>
		      <if test="legalPerson != null" >
		        FS_LegalPerson,
		      </if>
		      <if test="fax != null" >
		        FS_Fax,
		      </if>
		      <if test="address != null" >
		        fs_Address,
		      </if>
		     <if test="tabLicense != null" >
		        fs_TabLicense,
		      </if>
		      <if test="salesManID != null" >
		        fs_SalesManID,
		      </if>
			</trim>
	    	<trim prefix="values (" suffix=")" suffixOverrides="," >
		      <if test="id != null" >
		        #{id,jdbcType=VARCHAR},
		      </if>
		      <if test="name != null" >
		        #{name,jdbcType=VARCHAR},
		      </if>
		      <if test="taname != null" >
		        #{taname,jdbcType=VARCHAR},
		      </if>
		      <if test="licenceno != null" >
		        #{licenceno,jdbcType=VARCHAR},
		      </if>
		      <if test="taxlicence != null" >
		        #{taxlicence,jdbcType=VARCHAR},
		      </if>
		      <if test="contact != null" >
		        #{contact,jdbcType=VARCHAR},
		      </if>
		      <if test="addr != null" >
		        #{addr,jdbcType=VARCHAR},
		      </if>
		      <if test="certid != null" >
		        #{certid,jdbcType=VARCHAR},
		      </if>
		      <if test="email != null" >
		        #{email,jdbcType=VARCHAR},
		      </if>
		      <if test="regtime!= null" >
		       #{regtime,jdbcType=TIMESTAMP}
		      </if>
		      <if test="timestamp!= null" >
		       #{timestamp,jdbcType=TIMESTAMP},
		      </if>
		      <if test="dac != null" >
		        #{dac,jdbcType=VARCHAR},
		      </if>
		      <if test="stat != null" >
		        #{stat,jdbcType=DECIMAL},
		      </if>
		      <if test="auditno != null" >
		        #{auditno,jdbcType=VARCHAR},
		      </if>
		      <if test="legalPerson != null" >
		        #{legalPerson,jdbcType=VARCHAR},
		      </if>
		      <if test="fax != null" >
		       #{fax,jdbcType=VARCHAR},
		      </if>
		      <if test="address != null" >
		        #{address,jdbcType=VARCHAR},
		      </if>
		     <if test="tabLicense != null" >
		       #{tabLicense,jdbcType=VARCHAR},
		      </if>
		      <if test="salesManID != null" >
		       #{salesManID,jdbcType=VARCHAR},
		      </if> 
		   </trim>
	  </insert>
	  
	<!-- 动态的修改一条记录 -->
  	<update id="updateByPrimaryKeySelective" parameterType="com.yttx.yttxps.model.CustomInfo" >
    		update 
    			TCUSTOMINFO
		    <set >
		      <if test="name != null" >
		        FS_NAME = #{name,jdbcType=VARCHAR},
		      </if>
		      <if test="taname != null" >
		        FS_TANAME = #{taname,jdbcType=VARCHAR},
		      </if>
		      <if test="licenceno != null" >
		        FS_LICENCENO = #{licenceno,jdbcType=VARCHAR},
		      </if>
		      <if test="taxlicence != null" >
		        FS_TAXLICENCE = #{taxlicence,jdbcType=VARCHAR},
		      </if>
		      <if test="contact != null" >
		        FS_CONTACT = #{contact,jdbcType=VARCHAR},
		      </if>
		      <if test="certid != null" >
		        FS_CERTID = #{certid,jdbcType=VARCHAR},
		      </if>
		      <if test="email != null" >
		        FS_EMAIL = #{email,jdbcType=VARCHAR},
		      </if>
		      <if test="regtime != null" >
		        FT_REGTIME = #{regtime,jdbcType=TIMESTAMP} ,
		      </if>
		      <if test="timestamp != null" >
		        FT_TIMESTAMP = #{timestamp,jdbcType=TIMESTAMP},
		      </if>
		      <if test="dac != null" >
		        FS_DAC = #{dac,jdbcType=VARCHAR},
		      </if>
		      <if test="stat != null" >
		        FI_STAT = #{stat,jdbcType=DECIMAL},
		      </if>
		        FS_AUDITNO = #{auditno,jdbcType=VARCHAR},
		      <if test="legalPerson != null" >
		        FS_LegalPerson=#{legalPerson,jdbcType=VARCHAR},
		      </if>
		      <if test="fax != null" >
		       	FS_Fax=#{fax,jdbcType=VARCHAR},
		      </if>
		      <if test="address != null" >
		       	fs_Address=#{address,jdbcType=VARCHAR},
		      </if>
		     <if test="tabLicense != null" >
		      	fs_TabLicense= #{tabLicense,jdbcType=VARCHAR},
		      </if>
		      <if test="salesManID != null" >
		       	fs_SalesManID=#{salesManID,jdbcType=VARCHAR},
		      </if> 
		    </set>
		    where FS_ID = #{id,jdbcType=VARCHAR}
	</update>
	
	
	<!-- 会员审核通过的时候调用该方法-->
  	<update id="updateByPassAudit" parameterType="com.yttx.yttxps.model.CustomInfo" >
    	update 
    		TCUSTOMINFO
		 set
		 	<if test="salesManID != null and salesManID!=''">
		 		fs_SalesManID=#{salesManID,jdbcType=VARCHAR},
		 	</if>
		    FS_id = #{id,jdbcType=VARCHAR},
		    FS_NAME = #{name,jdbcType=VARCHAR},
		    FS_TANAME = #{taname,jdbcType=VARCHAR},
		    FS_LICENCENO = #{licenceno,jdbcType=VARCHAR},
		    FS_TAXLICENCE = #{taxlicence,jdbcType=VARCHAR},
		    FS_CONTACT = #{contact,jdbcType=VARCHAR},
		    FS_CERTID = #{certid,jdbcType=VARCHAR},
		    FS_EMAIL = #{email,jdbcType=VARCHAR},
		    FT_TIMESTAMP = #{timestamp,jdbcType=TIMESTAMP},
		    FI_STAT = #{stat,jdbcType=DECIMAL},
		    FS_AUDITNO = null,
		    FS_LegalPerson=#{legalPerson,jdbcType=VARCHAR},
		    FS_Fax=#{fax,jdbcType=VARCHAR},
		    fs_Address=#{address,jdbcType=VARCHAR},
		    fs_TabLicense= #{tabLicense,jdbcType=VARCHAR}
		where FS_AUDITNO = #{auditno,jdbcType=VARCHAR}
	</update>
	
	<!-- 会员审核不通过的时候调用该方法-->
  	<update id="updateByNotPassAudit" parameterType="com.yttx.yttxps.model.CustomInfo" >
    	update 
    		TCUSTOMINFO
		 set
		    FI_STAT = #{stat,jdbcType=DECIMAL},
		    FS_AUDITNO = null
		where 
			FS_AUDITNO = #{auditno,jdbcType=VARCHAR}
	</update>
	
	
	<!-- 查询满足该条件的所有记录总数 -->
	<select id="selectCountSelective" parameterType="java.util.Map" resultType="int">
		SELECT
			COUNT(1)
		FROM
			TCUSTOMINFO
		WHERE
			1=1
		<if test="id != null and id != ''">
			AND FS_ID like '%'||#{id,jdbcType = VARCHAR}||'%'
		</if>
		<if test="name != null and name != ''">
			AND FS_NAME like '%'||#{name, jdbcType = VARCHAR}||'%'
		</if>
		<if test="taName != null and taName !=''">
			AND FS_TANAME = #{taName,jdbcType = VARCHAR}
		</if>
		<if test="stat != null">
			AND FI_STAT = #{stat}
		</if>
	</select>


	<!-- 查询满足该条件的某一页的记录 -->
	<select id="selectSelectivePage" parameterType="java.util.Map" resultMap="BaseResultMap">
		SELECT 
			* 
		FROM (
			SELECT
				ROWNUM  rowno,
				c.*
			from(
				select 
					<include refid="Base_Column_List" />
				FROM
					TCUSTOMINFO
				WHERE
					1=1
				<if test="id != null and id != ''">
				AND FS_ID like '%'||#{id,jdbcType = VARCHAR}||'%'
				</if>
				<if test="name != null and name != ''">
					AND FS_NAME like '%'||#{name, jdbcType = VARCHAR}||'%'
				</if>
				<if test="taName != null and taName !=''">
					AND FS_TANAME like '%'||#{taName,jdbcType = VARCHAR}||'%'
				</if>
				<if test="stat != null">
					AND FI_STAT = #{stat}
				</if>
				order by 
					FT_REGTIME desc) c
			<if test="endrow != null">
				where ROWNUM &lt;= #{endrow}
			</if>
		)
		<if test="startrow != null">
			WHERE rowno &gt; #{startrow}
		</if>
	</select>
</mapper>