<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper  
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"  
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.yttx.yttxps.mapper.SysOperRightMapper">

	<resultMap type="SysOperRight" id="sysOperRightResultMap">
		<result property="sysOperId" column="FS_SYSOPERID"/>
		<result property="right" column="FS_RIGHT" />
	</resultMap>
	
	<!-- 通过id找权限 -->
	<select id="findById" parameterType="string" resultMap="sysOperRightResultMap">
		<![CDATA[
		SELECT
			 TRIM(FS_SYSOPERID) AS FS_SYSOPERID,
			 TRIM(FS_RIGHT) AS FS_RIGHT
		FROM TSYSOPERRIGHT 
		WHERE TRIM(FS_SYSOPERID) = #{sysOperId}
		]]>
	</select>
	
	<!-- 批量插入权限 -->
	<insert id ="insertBatch" parameterType="List" useGeneratedKeys="false"> 
		<![CDATA[
	    INSERT INTO TSYSOPERRIGHT(
	    	FS_SYSOPERID,
	    	FS_RIGHT
	    )
	    ]]>
	    <foreach open="("  separator="union" close=")" collection="list" item="item" index="index"> 
			SELECT
				#{item.sysOperId,jdbcType =INTEGER},
				#{item.right,jdbcType =	VARCHAR}
			FROM dual
		</foreach>
	</insert> 
	
	<!-- 通过id找权限 -->
	<delete id="deleteByOperId" parameterType="string">
		DELETE
		FROM 
			TSYSOPERRIGHT 
		WHERE 
			TRIM(FS_SYSOPERID) = #{sysOperId}
	</delete>
</mapper> 