<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.yttx.yttxps.mapper.TRestaurantMapper">
	
	<resultMap id="BaseResultMap" type="com.yttx.yttxps.model.TRestaurant">
		<id column="FS_NO" property="no" jdbcType="VARCHAR" />
		<result column="FS_NAME" property="name" jdbcType="VARCHAR" />
		<result column="FS_REGIONNO" property="regionno" jdbcType="VARCHAR" />
		<result column="FS_ADDR" property="addr" jdbcType="VARCHAR" />
		<result column="FS_MENU" property="menu" jdbcType="VARCHAR" />
		<result column="FS_SRCFILE" property="menuImgFileLoction" jdbcType="VARCHAR" />
		<result column="FS_DESC" property="menuDesc" jdbcType="VARCHAR" />
		<result column="FI_SCALE" property="scale" jdbcType="DECIMAL" />
		<result column="FS_SPECIAL" property="special" jdbcType="VARCHAR" />
		<result column="FS_ATTENTION" property="attention" jdbcType="VARCHAR" />
		<result column="FS_LVL" property="lvl" jdbcType="VARCHAR" />
		<result column="FI_STAT" property="stat" jdbcType="DECIMAL" />
	</resultMap>
	
	<!-- 找到满足特定状态的餐厅 -->
	<select id="findRestaurantByStat" resultMap="BaseResultMap" parameterType="java.lang.Long">
		SELECT
			r.FS_NO, 
			r.FS_NAME, 
			r.FS_REGIONNO, 
			r.FS_ADDR, 
			r.FS_MENU,
			r.FI_SCALE, 
			r.FS_SPECIAL,
			r.FS_ATTENTION,
			r.FS_LVL,
			r.FI_STAT
		FROM
			TRestaurant r,
		<if test="stat!= null">
			WHERE r.FI_STAT = #{stat,jdbcType=INTEGER}
		</if>
	</select>


	<!-- 通过主键查询详细信息 -->
	<select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="string">
		SELECT r.FS_NO,
	       r.FS_NAME,
	       r.FS_REGIONNO,
	       r.FS_ADDR,
	       r.FS_MENU,
	       p.FS_SRCFILE,
	       p.FS_DESC,
	       r.FI_SCALE,
	       r.FS_SPECIAL,
	       r.FS_ATTENTION,
	       r.FS_LVL,
	       r.FI_STAT
  		FROM 
  			TRestaurant r,
		       (select 
		       		FS_resNo,
		       		FS_SRCFILE, 
		       		FS_DESC
		         from Tpic
		         where 
		         	fs_resType = 'cd'
		          	 AND FS_resNo = #{no,jdbcType=VARCHAR}
		      ) p
 		WHERE 
 			r.FS_NO = p.FS_RESNO(+)
  			AND r.FS_NO = #{no,jdbcType=VARCHAR}
	</select>
	
	
	<!-- 通过主键删除餐厅信息 -->
	<delete id="deleteByPrimaryKey" parameterType="java.lang.String">
		DELETE FROM 
			TRestaurant
		WHERE 
			TRIM(FS_NO) = #{no,jdbcType=VARCHAR}
	</delete>
	
	
	<!-- 向TRestaurant插入一条餐厅记录 -->
	<insert id="insert" parameterType="com.yttx.yttxps.model.TRestaurant">
		INSERT INTO TRestaurant(
			FS_NO, 
			FS_NAME, 
			FS_REGIONNO,
			FS_ADDR, 
			FS_MENU, 
			FI_SCALE,
			FS_SPECIAL, 
			FS_ATTENTION, 
			FS_LVL, 
			FI_STAT
		)VALUES (
			#{no,jdbcType=VARCHAR}, 
			#{name,jdbcType=VARCHAR},
			#{regionno,jdbcType=VARCHAR},
			#{addr,jdbcType=VARCHAR}, 
			#{menu,jdbcType=VARCHAR}, 
			#{scale,jdbcType=DECIMAL},
			#{special,jdbcType=VARCHAR}, 
			#{attention,jdbcType=VARCHAR},
			#{lvl,jdbcType=VARCHAR},
			#{stat,jdbcType=DECIMAL}
		)
	</insert>
	
	
	<!-- 获取一个编号 用来生成餐厅编号-->
	<select id="selectNo"  resultType="int">
		SELECT RESTAURANT_SEQUENCE.NEXTVAL FROM dual
	</select>
	
	
	<!-- 向TRestaurant表中动态插入一条餐厅记录 -->
	<insert id="insertSelective" parameterType="com.yttx.yttxps.model.TRestaurant">
		INSERT INTO TRestaurant
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="no != null">
				FS_NO,
			</if>
			<if test="name != null">
				FS_NAME,
			</if>
			<if test="regionno != null">
				FS_REGIONNO,
			</if>
			<if test="addr != null">
				FS_ADDR,
			</if>
			<if test="menu != null">
				FS_MENU,
			</if>
			<if test="scale != null">
				FI_SCALE,
			</if>
			<if test="special != null">
				FS_SPECIAL,
			</if>
			<if test="attention != null">
				FS_ATTENTION,
			</if>
			<if test="lvl != null">
				FS_LVL,
			</if>
			<if test="stat != null">
				FI_STAT,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="no != null">
				#{no,jdbcType=VARCHAR},
			</if>
			<if test="name != null">
				#{name,jdbcType=VARCHAR},
			</if>
			<if test="regionno != null">
				#{regionno,jdbcType=VARCHAR},
			</if>
			<if test="addr != null">
				#{addr,jdbcType=VARCHAR},
			</if>
			<if test="menu != null">
				#{menu,jdbcType=VARCHAR},
			</if>
			<if test="scale != null">
				#{scale,jdbcType=DECIMAL},
			</if>
			<if test="special != null">
				#{special,jdbcType=VARCHAR},
			</if>
			<if test="attention != null">
				#{attention,jdbcType=VARCHAR},
			</if>
			<if test="lvl != null">
				#{lvl,jdbcType=VARCHAR},
			</if>
			<if test="stat != null">
				#{stat,jdbcType=DECIMAL},
			</if>
		</trim>
	</insert>
	
	
	<!--使用主键动态更新一条记录-->
	<update id="updateByPrimaryKeySelective" parameterType="com.yttx.yttxps.model.TRestaurant">
		UPDATE 
			TRestaurant
		<set>
			<if test="name != null and name!=''">
				FS_NAME = #{name,jdbcType=VARCHAR},
			</if>
			<if test="regionno != null and regionno !=''">
				FS_REGIONNO = #{regionno,jdbcType=VARCHAR},
			</if>
			<if test="addr != null and addr != ''">
				FS_ADDR = #{addr,jdbcType=VARCHAR},
			</if>
			<if test="menu != null and menu != ''">
				FS_MENU = #{menu,jdbcType=VARCHAR},
			</if>
			<if test="scale != null">
				FI_SCALE = #{scale,jdbcType=DECIMAL},
			</if>
			<if test="special != null and special != ''">
				FS_SPECIAL = #{special,jdbcType=VARCHAR},
			</if>
			<if test="attention != null and attention != ''">
				FS_ATTENTION = #{attention,jdbcType=VARCHAR},
			</if>
			<if test="lvl != null and lvl != ''" >
				FS_LVL = #{lvl,jdbcType=VARCHAR},
			</if>
			<if test="stat != null">
				FI_STAT = #{stat,jdbcType=DECIMAL},
			</if>
		</set>
		WHERE
			TRIM(FS_NO) = #{no,jdbcType=VARCHAR}
	</update>
	
	
	
	<!--使用主键更新一条记录，所有的数据同时被更新-->
	<update id="updateByPrimaryKey" parameterType="com.yttx.yttxps.model.TRestaurant">
		UPDATE 
			TRestaurant
		SET
	 		FS_NAME         = #{name,jdbcType=VARCHAR},
			FS_REGIONNO     = #{regionno,jdbcType=VARCHAR},
			FS_ADDR         = #{addr,jdbcType=VARCHAR},
			FS_MENU         = #{menu,jdbcType=VARCHAR},
			FI_SCALE        = #{scale,jdbcType=DECIMAL},
			FS_SPECIAL      = #{special,jdbcType=VARCHAR},
			FS_ATTENTION    = #{attention,jdbcType=VARCHAR},
			FS_LVL = #{lvl,jdbcType=VARCHAR},
			FI_STAT = #{stat,jdbcType=DECIMAL}
		WHERE
			FS_NO = #{no,jdbcType=VARCHAR}
	</update>


	<!-- 查询满足该条件的所有记录总数 -->
	<select id="selectCountSelective" parameterType="java.util.Map" resultType="int">
		SELECT
			COUNT(1)
		FROM
			TRestaurant
		WHERE
			1=1
		<if test="name != null and name != ''">
			AND FS_NAME like '%'||#{name, jdbcType = VARCHAR}||'%'
		</if>
		<if test="regionno != null and regionno != ''">
			AND FS_REGIONNO like '%'||#{regionno,jdbcType = VARCHAR}||'%'
		</if>
		<if test="minScale != null">
			AND FI_SCALE &gt;= #{minScale,jdbcType = INTEGER}
		</if>
		<if test="maxScale != null">
			AND FI_SCALE &lt;= #{maxScale,jdbcType = INTEGER}
		</if>
		<if test="special != null and special !=''">
			AND FS_SPECIAL = #{special,jdbcType = VARCHAR}
		</if>
		<if test="lvl != null and lvl !=''">
			AND FS_LVL = #{lvl,jdbcType = VARCHAR}
		</if>
		<if test="stat != null">
			AND FI_STAT = #{stat}
		</if>
	</select>


	<!-- 查询满足该条件的某一页的记录 -->
	<select id="selectSelectivePage" parameterType="java.util.Map" resultMap="BaseResultMap">
		SELECT 
			* 
		FROM (
			SELECT
				ROWNUM  rowno,
				r.*
			from (
			  	select
					FS_NO, 
					FS_NAME, 
					FS_REGIONNO, 
					FS_ADDR, 
					FS_MENU,
					FI_SCALE, 
					FS_SPECIAL,
					FS_ATTENTION,
					FS_LVL,
					FI_STAT
				FROM
					TRestaurant
				WHERE
					1=1
				<if test="name != null and name != ''">
					AND FS_NAME like '%'||#{name, jdbcType = VARCHAR}||'%'
				</if>
				<if test="regionno != null and regionno != ''">
					AND FS_REGIONNO like '%'||#{regionno,jdbcType = VARCHAR}||'%'
				</if>
				<if test="minScale != null">
					AND FI_SCALE &gt;= #{minScale,jdbcType = INTEGER}
				</if>
				<if test="maxScale != null">
					AND FI_SCALE &lt;= #{maxScale,jdbcType = INTEGER}
				</if>
				<if test="special != null and special !=''">
					AND FS_SPECIAL = #{special,jdbcType = VARCHAR}
				</if>
				<if test="lvl != null and lvl !=''">
					AND FS_LVL = #{lvl,jdbcType = VARCHAR}
				</if>
				<if test="stat != null">
					AND FI_STAT = #{stat,jdbcType=INTEGER}
				</if>
				order by FS_NO) r
			<if test="endrow != null">
				where ROWNUM &lt;= #{endrow}
			</if>
		)
		<if test="startrow != null">
			WHERE rowno &gt; #{startrow}
		</if>
	</select>
	
	<!-- 查询景区下所有餐厅信息 add by huangtao 2016-02-23 -->
	<select id="selectRestaurant" parameterType="java.util.Map" resultMap="BaseResultMap">
	  SELECT A.*
        FROM trestaurant A
       WHERE 1 = 1
         <!-- 
         AND A.FS_REGIONNO IN(SELECT A.FS_REGIONNO
                                FROM TSCENIC A
                               WHERE 1 = 1 
                                 <choose>
                                   <when test="scenicNo">
                                     AND TRIM(A.FS_NO) IN
                                     <foreach collection="scenicNo" open="(" close=")" separator="," item="listItem">
                                       #{listItem}
                                     </foreach>
                                   </when>
                                 </choose>
                                 ) -->
      <if test="name != null and name != ''">
        AND FS_NAME like '%'||#{name, jdbcType = VARCHAR}||'%'
      </if>
      <if test="regionno != null and regionno != ''">
        AND FS_REGIONNO like '%'||#{regionno,jdbcType = VARCHAR}||'%'
      </if>
      <if test="minScale != null">
        AND FI_SCALE &gt;= #{minScale,jdbcType = INTEGER}
      </if>
      <if test="maxScale != null">
        AND FI_SCALE &lt;= #{maxScale,jdbcType = INTEGER}
      </if>
      <if test="special != null and special !=''">
        AND FS_SPECIAL = #{special,jdbcType = VARCHAR}
      </if>
      <if test="lvl != null and lvl !=''">
        AND FS_LVL = #{lvl,jdbcType = VARCHAR}
      </if>
      <if test="stat != null">
        AND FI_STAT = #{stat,jdbcType=INTEGER}
      </if>
	</select>
</mapper>