<?xml version="1.0" encoding="utf-8" ?>
<xml>
	<menu>
		<item id="0200" name="平台用户管理" icon="menu-icon fa fa-user">
			<submenu>
				<item id="02a0" name="部门设置" url="/user/depsetting.htm" />
				<item id="02b0" name="用户设置" url="/user/opersetting.htm" />
			</submenu>
		</item>
		
		<item id="0300" name="会员管理" icon="menu-icon fa fa-group" >
			<submenu>
				<item id="03a0" name="会员审核" url="/jsp/member/audit.jsp" />
				<item id="03b0" name="会员设置" url="/member/setting.htm" />
			</submenu>
		</item>
		
		<item id="0400" name="景区管理" icon="menu-icon fa fa-table" >
			<submenu>
				<item id="04a0" name="景区管理" url="/jsp/scenic/scenic.jsp" />
				<item id="04b0" name="门票资源管理" url="/jsp/ticket/ticket.jsp" />
				<!-- <item id="04c0" name="门票价格设置" url="/jsp/ticketPrice/ticketPrice.jsp" /> -->
			</submenu>
		</item>
		
		<item id="0500" name="娱乐管理" icon="menu-icon fa fa-table" >
			<submenu>
				<item id="05a0" name="娱乐项目资源管理" url="/jsp/entertainment/entertainment.jsp" />
				<item id="05b0" name="娱乐项目价格设置" url="/jsp/entertainmentPrice/entertainmentPrice.jsp" />
			</submenu>
		</item>
		
		<item id="0600" name="餐厅管理" icon="menu-icon fa fa-table" >
			<submenu>
				<item id="06a0" name="餐厅资源配置" url="/restaurant/page.htm" />
			</submenu>
		</item>
		
		<item id="0700" name="酒店管理" icon="menu-icon fa fa-table" >
			<submenu>
				<item id="07a0" name="酒店资源配置" url="/jsp/accomadation/accomadation.jsp" />
			</submenu>
		</item>
		
		<item id="0800" name="车调管理" icon="menu-icon fa fa-table" >
			<submenu>
				<item id="08a0" name="驾驶员资料配置" url="/jsp/driver/driver.jsp" />
				<item id="08b0" name="车辆资料配置" url="/jsp/car/car.jsp" />
				<item id="08c0" name="车型管理配置" url="/jsp/transport/transport.jsp" />
				<item id="08d0" name="车型线路管理" url="/jsp/transportArrange/transportArrange.jsp" />
			</submenu>
		</item>
		
		<item id="0900" name="购物店管理" icon="menu-icon fa fa-table" >
			<submenu>
				<item id="09a0" name="购物店管理" url="/jsp/shop/shop.jsp" />
			</submenu>
		</item>
		
		<item id="1000" name="线路管理配置" icon="menu-icon fa fa-sitemap">
			<submenu>
				<item id="10a0" name="线路概况管理" url="/jsp/gen/gen.jsp" />
				<item id="10b0" name="线路配置管理" url="/jsp/routeArrange/routeArrange.jsp" />
				<item id="10c0" name="线路行程管理" url="/jsp/routeCC/routeCC.jsp" />
			</submenu>
		</item>
		
		
		
		<item id="1200" name="导游管理" icon="menu-icon fa fa-table" >
			<submenu>
				<item id="12a0" name="导游管理" url="/jsp/guide/guide.jsp" />
			</submenu>
		</item>
		
		<item id="1300" name="交易管理" icon="menu-icon fa fa-sitemap">
			<submenu>
				<item id="13a0" name="订单管理" url="/jsp/orderlist/orderlist.jsp" />
				<!-- <item id="13b0" name="订单批次管理" url="/jsp/orderCustom/orderCustom.jsp" /> -->
				<item id="13c0" name="结算管理" url="/cOrder/page.htm" />
			</submenu>
		</item>	
	</menu>
</xml>