body,button, input, select, textarea,h1 ,h2, h3, h4, h5, h6 { font-family: Microsoft YaHei,'ו' , Tahoma, Helvetica, Arial, "\5b8b\4f53", sans-serif;}
.bchange{
	border-right: 2px solid #D5E4F1;
	background:#F6F6F6;
}
